
<h3 [style.color]="propertyBindingColor" >{{interpolationtitulo}}</h3>
<form class="border p-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{newEmail.title}}</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="newEmail.email" >
    <div id="emailHelp" class="form-text">{{newEmail.comentario}}</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail2" class="form-label">{{newEmail.title}}</label>
    <input   type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" [(ngModel)]="newEmail.email"  >
    <div id="emailHelp1" class="form-text"></div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
